/* 
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  gap: 20px;
}





 .home-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px; 
  gap: 30px;
  background: #f5f6fa;
} */





.home-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  gap: 40px;
  
}

