.home-input {
  /* top: 20px; */
  width: 450px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.search-btn {
  border-radius: 5px solid red;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #8e54e9;
  color: white;
}

.search-btn:hover{
  background-color: #b48af8;
}

.home-container{
  /* border: 5px solid red; */
  margin-top: -350px;
}